{% extends 'pages/base.html' %}
{% block title %}Trang Chủ{% endblock %}
{% block content %}
    <div class="container-fluid" align="center">
        <div class="row" style="display: flex; justify-content: center;">
            {% for post in post %}
            <div class="card" style="width: 18rem;">
                <a href="{{post.id}}">
                    <img src="{{post.anh.url}}" class="card-img-top" alt="..." style="height: 10rem">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{post.ten}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
